@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a href="ProductList">
        <img src="~/img/home.png" style="width:1000px" />
    </a>
</div>
