@page
@model hw1.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile page";
}

<div class="text-center">
    <a href="Index">
        <img src="~/img/profile.png" style="width:1000px" />
    </a>
</div>

