@page
@{
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>You successfully claimed an item!</h1>
            <h3>What comes next?</h3>
            <p>
                ReuseSU has emailed the poster of this item. When they reply it will be sent directly to your
                SU email account. No need to log back in!
            </p>
            <p>
                You can continue to converse with each other using your regular SU email.
            </p>
        </div>
</div>