@page
@model ReuseSU.Pages.ClaimItemModel
@{
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Claim Item</h1>
            <p>Write a short note to the poster of this item to coordinate a place and time to meet. Reuse SU will send an email to the poster for you.</p>
            <form>
                <div class="form-group">
                    <label for="claim-message-text">Your message:</label>
                    <textarea class="form-control" id="claim-message-text" rows="3"></textarea>
                    <button class="btn btn-primary" type="submit" asp-page="ClaimItemSuccess">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
