@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="list-group float-sm-left">
    <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
</div>

<nav class="navbar navbar-light float-sm-right">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Type item name..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>


<div class="text-center">
    <a href="Post">
        <img src="~/img/home_nomenu.png" style="width:1000px" />
    </a>
</div>
