@page
@model ReuseSU.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a asp-page="/Furniture" class="list-group-item list-group-item-action">Furniture</a>
                <a asp-page="/Electronics" class="list-group-item list-group-item-action">Electronics</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-columns">
                @for (var i = 0; i < 6; i++)
                {
                    <a asp-page="/ViewItem@(i)">
                        <div class="card">
                            <div class="card-img" style="background-image: url('@Model.Products.ToList()[i].Image');"></div>
                            <div class="card-body">
                                <h5 class="card-title">@Model.Products.ToList()[i].Title</h5>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="col-md-2">
            <nav class="navbar navbar-light">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Type item name..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" asp-page="/School">Search</button>
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" asp-page="/Index">1</a></li>
                    <li class="page-item"><a class="page-link" asp-page="/Index2">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
