@page
@model ReuseSU.Pages.LoginModel
@{
}

    <div class="text-center">
        <a href="Index">
            <img src="~/img/SeattleU_logo.png" style="width:400px" />
        </a>
    </div>

        <button type="button" class="btn btn-primary btn-lg">Sign In</button>