@page
@model ReuseSU.Pages.LoginModel
@{
}

    <div class="container margin-top_30">

        <div class="row">

            <div class="col-sm-12">

                <img src="~/img/SeattleU_logo.png" style="width:200px" />

            </div>

        </div>

        <div class="row margin-top_40">

            <img src="~/img/single-sign-on/SSO_top.png" style="width:300px" />

        </div>

        <div class="row margin-top_20">

            <form>

                <div class="form-group">

                    <input type="email" class="form-control" id="emailfield" placeholder="userID@seattleu.edu">

                    <div class="form-group">

                        <input type="password" class="form-control" id="passwrdfield" placeholder="password">

                    </div>

                </div>

            </form>

        </div>

        <div class="row">

            <img src="~/img/single-sign-on/SSO_middle.png" style="width:300px" />

        </div>

        <div class="row">

            <a asp-page="/Index" class="btn btn-primary">Login</a>

        </div>

        <div class="row">

            <img src="~/img/single-sign-on/SSO_bottom.png" style="width:300px" />

        </div>

    </div>
      
    