@page
@model ReuseSU.Pages.LoginModel
@{
}

    <div class="text-center">
        <img src="~/img/SeattleU_logo.png" style="width:400px" />
        <a href="Index">
            <img src="~/img/login.png" style="width:400px" />
        </a>
    </div>

    