@page
@model hw1.Pages.PostModel
@{
    ViewData["Title"] = "Post Item";
}

<div class="text-center">
    <a href="Profile">
        <img src="~/img/post_nomenu.png" style="width:1000px" />
    </a>
</div>


