@page
@model hw1.Pages.PostModel
@{
    ViewData["Title"] = "Post Item";
}

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>image column</h2>
    </div>
    <div class="col-sm-4">
      <h2>title and description column</h2>
    </div>
    <div class="col-sm-4">
      <h2>category and post item column</h2>
    </div>
  </div>
</div>


