@page
@model ReuseSU.Pages.PostModel
@{
    ViewData["Title"] = "Post Item";
}

<div class="container" style="margin-top:30px">
  <div class="row">
      <div class="col-sm-4">
          <form>
              <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
          </form>
      </div>
      <div class="col-sm-5">
          <form>
              <div class="form-group">
                  <label for="title">Title:</label>
                  <input type="text" class="form-control" id="title">
              </div>
              <div class="form-group">
                  <label for="sel1">Item Category:</label>
                  <select class="form-control" id="sel1">
                      <option>Furniture</option>
                      <option>Small Appliance</option>
                      <option>Book(s)</option>
                      <option>Soft Article Goods</option>
                      <option>Electronics</option>
                      <option>Decor</option>
                      <option>Tools</option>
                      <option>Exercise Equipment</option>
                      <option>Kid's Stuff</option>
                      <option>Other</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="comment">Description:</label>
                  <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
          </form>
      </div>
      <div class="col-sm-3">
          <button type="button" class="btn btn-primary btn-lg">Post Item!</button>
      </div>
    </div>
  </div>


