@page
@model ReuseSU.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello, Chloe Kim!</h1>
        <p>Congrats, you're of rank Sprout!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Sprout</h2>
            <p>1 or more items Exchanged</p>
            <img src="~/img/ranks/sprout.png" class="rank-image"/>
        </div>
        <div class="col-md-4">
            <h2>Budding</h2>
            <p>5 or more items Exchanged</p>
            <img src="~/img/ranks/budding.png" class="rank-image" />
        </div>
        <div class="col-md-4">
            <h2>Full Flower</h2>
            <p>10 or more items Exchanged</p>
            <img src="~/img/ranks/flower.png" class="rank-image"/>
        </div>
    </div>

    <hr>

    <div class="container">
        <h4>You've earned the following badges:</h4>
    </div>


</div>
