@page
@model ReuseSU.Pages.IndexModel
@{
    ViewData["Title"] = "ViewItem page";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <h2>@Model.Products.ToList()[0].Title <span class="badge badge-pill badge-primary">New</span></h2>
                <h5>Item Description: @Model.Products.ToList()[0].Description</h5>
                <img src="@Model.Products.ToList()[0].Image" style="width:500px;height:500px;" />
            </div>
            <div class="col-md-2">

            </div>
        </div>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <a asp-page="" class="btn btn-primary">Claim</a>
            </div>
            <div class="col-md-2">

            </div>
        </div>

    </div>
